main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem 0;
}
h4 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

a .card-title {
    font-weight: 450;
    color: black;
}

.card-text {
    font-weight: 300;
}